* {
	text-decoration: none;
}
body{
	background: url(backgroundsito3.png) no-repeat ;
	background-size:100% 100%;
	background-color: #FFDAB9;
	overflow-y: scroll;
	margin:0
	;
}
.menu {
	font-family:"Helvetica";
	font-weight: Medium;
	font-size:16px;
	background-color: #000000;
}
.nav {
	width:100%;
	height: 40px;
	margin: auto;
	padding: auto;
	text-align: right;
}
.nav ul {
	list-style-type: none;
	margin:0;
	padding:0;
	position: relative;
	margin-right:60px;
}
.nav ul li {
	display:inline-block;
}
.nav ul li:hover {
	background-color:#333;
}
.nav ul li a,visited {
	color: #ccc;
	display: block;
	padding: 5px;
	text-decoration: none;
}
.nav ul li a:hover {
	color: #ccc
	text-decoration: none ;
}
.logo {
	font-family:"Helvetica";
	font-weight: bold;
	font-size:50px;
	color: black;
	margin:20px;	
}
.aboutus {
	margin-top: 300px ;
}
#titoli {
	font-family:"Helvetica";
	font-weight:Bold;
	font-size:50px;
	text-decoration: none;
	color: black;
}
.testo1 {
	width:30%;
	font-size:20px;
	font-family:"Helvetica";
	color:black;
}
.fotogruppo {
	width: 100%;
}
#immaginiSinistra {
	float:left;
}
#immaginiDestra {
	float:right;
}
#nomiSinistra {
	float:left;
	width:300px;
	margin-left:30%;
	margin-top:-25%;
}
#nomiDestra {
	float:right;
	width:300px;
	margin-right:30%;
	margin-top:-25%;
}
#nomi {
	font-family: "Helvetica";
	font-weight: bold;
	color:white;
}
#descrizioni {
	font-family: "Helvetica";
	color:black;
}
.Ahmed {
	width: 50%;
	margin-top:70px;
	margin-left:20%;
	
}
.Perla {
	width: 50%;
	margin-top:-30px;
	margin-left:30%;
	margin-right:10%;
}
.Elsa {
	width: 50%;
	margin-top:-30px;
	margin-left:20%;
}
.Giulia {
	width: 50%;
	margin-top:-30px;
	margin-left:30%;
	margin-right:10%;	
}
.Debora {
	width: 50%;
	margin-top:-30px;
	margin-left:20%;
}


.Contact {
	margin-bottom:100px;
	padding-top: 150px;
	clear:both;
}
#testo2 {
	font-family: "Helvetica";
	color: black;
}
#caselle {
	width:300px;
	height:30px;
}

.textarea {
	width:300px;
	height:150px;
}
.tastoinvio {
	width: 100px;
	font-family:"Helvetica";
}
